/*SELECTORES DE TAGS*/
body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    background: green;
    font-family: 'Great Vibes', cursive; /*From Google Fonts*/
}
h2{
    font-size: 4em;
}
h1{
    font-size: 6em;
}
/* Class Selectors*/
.card{
    
    width: 250px;
    height: 350px;
    background: white;
    margin: auto;
    border-radius: 5%;
}
.card__top{
    display: flex;
    justify-content: flex-start;    
}
.card__middle{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 1px;
  margin-bottom: 3em;
}
.card__bot{
    flex-direction: row-reverse;
     transform: rotate(-180deg);
}
